.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
.banner {
  left: 0px;
  right: 0px;
  top: 0px;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
}
.banner .header {
  height: 50px;
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  z-index: 1002;
  position: relative;
  text-align: center;
  background: url('../img/title.png') 100% 100%;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
.banner .header .info {
  width: 30px;
  height: 30px;
  top: 10px;
  position: absolute;
  right: 10px;
}
.banner .header .info img {
  max-width: 100%;
  max-height: 100%;
}
.banner .header .back {
  width: 30px;
  height: 30px;
  top: 10px;
  position: absolute;
  left: 10px;
}
.banner .header .back img {
  max-width: 100%;
  max-height: 100%;
}
.banner .sub {
  z-index: 1001;
  position: relative;
  color: #fff;
  background-color: #494c56;
}
.haoshimai-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.residence-wrap {
  box-shadow: 0px 0px 8px #000;
  border-radius: 5px;
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe9e9e9', GradientType=0);
}
.residence-wrap .residence {
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px #fff;
  position: relative;
  padding: 5px;
  overflow: hidden;
}
.residence-wrap .residence img {
  position: absolute;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  left: 5px;
  top: 5px;
}
.residence-wrap .residence .highlight {
  color: #08c;
}
.residence-wrap .residence .info {
  margin-left: 80px;
}
.residence-wrap .residence .info .details {
  margin-bottom: 5px;
  overflow: hidden;
}
.residence-wrap .residence .info .details .detail {
  display: block;
  float: left;
  width: 45%;
}
.residence-wrap .residence .info .details.last {
  margin-bottom: 0px;
}
.resident-wrap:last-child {
  margin-bottom: 0px;
}
.empty {
  color: #2b2d30;
  background: url(../img/search_noresult.png) left center no-repeat transparent;
  background-size: 20px 20px;
  width: 190px;
  height: 20px;
  padding-left: 25px;
  position: absolute;
  margin-left: -95px;
  margin-top: -10px;
  left: 50%;
  top: 50%;
}
.details {
  padding: 0px 12px;
  overflow: hidden;
}
.details .detail {
  float: left;
  width: 45%;
}
.details .detail .prop {
  color: #555555;
}
.details .detail .prop::after {
  content: ':\00a0';
}
.details .detail:first-child {
  width: 55%;
}
#map-sell-banner .header img {
  display: block;
  float: left;
  max-height: 100%;
  margin-right: 10px;
}
#map-sell-banner .header #haoshimai {
  float: left;
  line-height: 30px;
  font-size: 18px;
}
#map-sell-banner .header #area {
  padding-left: 20px;
  line-height: 35px;
  font-size: 14px;
  float: left;
}
#map-sell-banner .header #on-sale {
  padding-right: 20px;
  font-size: 18px;
  line-height: 30px;
  float: right;
}
#map-sell-banner .sub ul {
  padding-left: 0;
  margin: 0px;
  overflow: hidden;
  list-style: none;
}
#map-sell-banner .sub ul li {
  width: 25%;
  box-sizing: border-box;
  padding: 0px;
  float: left;
  border-right: 1px solid #5f636a;
}
#map-sell-banner .sub ul li.active a {
  color: #f47c00;
}
#map-sell-banner .sub ul li a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 5px 12px;
}
#map-sell-banner .sub ul li::last-child {
  border-right: none;
}
.content-marker {
  padding: 12px;
  background: url(../img/openning_detail_back.png);
  background-size: 100% 100%;
  width: 345px;
  height: 150px;
  color: #fff;
}
.content-marker img,
.content-marker .info {
  float: left;
}
.content-marker img {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 7px;
}
.content-marker .info p {
  margin-bottom: 0px;
}
.marker-wrap {
  position: absolute;
}
.marker-wrap::after {
  content: '';
  width: 14px;
  height: 24px;
  display: block;
  background: url(../img/flag_arrow.png) top center transparent;
  position: relative;
  left: 30px;
  margin-top: -8px;
}
.marker-wrap .marker {
  color: #fff;
  white-space: nowrap;
}
.marker-wrap .marker::after,
.marker-wrap .marker::before,
.marker-wrap .marker .content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  height: 50px;
}
.marker-wrap .marker::before,
.marker-wrap .marker::after {
  content: '';
  width: 9px;
}
.marker-wrap .marker::before {
  background: url(../img/flag_left.png) top center transparent;
}
.marker-wrap .marker::after {
  background: url(../img/flag_right.png) top center transparent;
}
.marker-wrap .marker .content {
  padding: 5px 0px;
  white-space: nowrap;
  background: url(../img/flag_middle.png) top center transparent;
}
.marker-wrap .marker .content .name,
.marker-wrap .marker .content .para {
  display: inline-block;
  line-height: 2.1428571435;
}
.marker-wrap .marker .content .name {
  border-right: 1px solid #7fb3ed;
  padding-right: 5px;
}
.marker-wrap .marker .content .para {
  border-left: 2px solid #548ecd;
  padding-left: 5px;
}
#locationPlate {
  position: fixed;
  display: block;
  bottom: 30px;
  left: 100px;
  height: 30px;
  min-width: 100px;
  padding: 5px 12px;
  color: #fff;
  width: auto;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
#nearbyButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
#searchButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#enquiry-history-button {
  position: fixed;
  bottom: 80px;
  right: 10px;
}
#count-badge {
  position: fixed;
  bottom: 130px;
  right: 0px;
  background-color: red;
}
#residenceSearch {
  background-color: #4b4e59;
  min-height: 100%;
}
#residenceSearch .loadingDiv {
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
#residenceSearch .loadingDiv img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
#residenceSearch .banner .header {
  padding: 5px;
  position: relative;
}
#residenceSearch .banner .header .input-wrap {
  margin-right: 60px;
}
#residenceSearch .banner .header .input-wrap input[type=text] {
  background: url(../img/searchbox_icon.png) 7px center no-repeat #ffffff;
  padding: 8px 12px 8px 32px;
  outline: none;
  line-height: 20px;
  font-size: 14px;
  border-radius: 18px;
  border: none;
  width: 100%;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.3);
}
#residenceSearch .banner .header button {
  position: absolute;
  border: none;
  right: 7px;
  top: 7px;
  color: #ffffff;
  background-color: #4b4e59;
  border-color: #4b4e59;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(top, #626675 0%, #4b4e59 100%);
  background-image: linear-gradient(to bottom, #626675 0%, #4b4e59 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff626675', endColorstr='#ff4b4e59', GradientType=0);
}
#residenceSearch .banner .header button:hover,
#residenceSearch .banner .header button:focus,
#residenceSearch .banner .header button:active,
#residenceSearch .banner .header button.active,
.open .dropdown-toggle#residenceSearch .banner .header button {
  color: #ffffff;
  background-color: #383b43;
  border-color: #2f3138;
}
#residenceSearch .banner .header button:active,
#residenceSearch .banner .header button.active,
.open .dropdown-toggle#residenceSearch .banner .header button {
  background-image: none;
}
#residenceSearch .banner .header button.disabled,
#residenceSearch .banner .header button[disabled],
fieldset[disabled] #residenceSearch .banner .header button,
#residenceSearch .banner .header button.disabled:hover,
#residenceSearch .banner .header button[disabled]:hover,
fieldset[disabled] #residenceSearch .banner .header button:hover,
#residenceSearch .banner .header button.disabled:focus,
#residenceSearch .banner .header button[disabled]:focus,
fieldset[disabled] #residenceSearch .banner .header button:focus,
#residenceSearch .banner .header button.disabled:active,
#residenceSearch .banner .header button[disabled]:active,
fieldset[disabled] #residenceSearch .banner .header button:active,
#residenceSearch .banner .header button.disabled.active,
#residenceSearch .banner .header button[disabled].active,
fieldset[disabled] #residenceSearch .banner .header button.active {
  background-color: #4b4e59;
  border-color: #4b4e59;
}
#residenceSearch .banner .header button .badge {
  color: #4b4e59;
  background-color: #fff;
}
#residenceSearch .residences {
  z-index: 999;
  position: absolute;
  top: 50px;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  overflow: auto;
}
#residenceOnSell {
  min-height: 100%;
  background-color: #4b4e59;
}
#residenceOnSell .banner .header {
  font-size: 18px;
  text-align: center;
}
#residenceOnSell .banner .sub {
  text-align: center;
  line-height: 30px;
}
#residenceOnSell #onsell-content {
  position: fixed;
  top: 80px;
  bottom: 0px;
  width: 100%;
  overflow: auto;
}
#residenceOnSell #onsell-content #residence-onsell-houses {
  width: 100%;
  height: 240px;
}
#residenceOnSell #onsell-content #residence-onsell-houses img {
  display: block;
  width: 100%;
  height: 240px;
}
#residenceOnSell #onsell-content .houses {
  padding: 5px;
  width: 100%;
}
#residenceOnSell #onsell-content .houses.no-house {
  position: fixed;
  top: 320px;
  bottom: 0px;
  width: 100%;
}
#residenceOnSell #onsell-content .houses .residence-wrap .residence {
  position: relative;
}
#residenceOnSell #onsell-content .houses .residence-wrap .residence .price {
  position: absolute;
  right: 5px;
  top: 5px;
}
#residenceOnSell #onsell-content .houses .residence-wrap:last-child {
  margin-bottom: 30px;
}
#residenceOnSell .sortbar {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 5px 0px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
}
#residenceOnSell .sortbar span {
  color: #fff;
  background: url(../img/ordericon.png) left center no-repeat transparent;
  background-size: 20px 20px;
  padding-left: 20px;
}
#residenceOnSell #allsorts {
  padding: 0px 20px 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1041;
  bottom: 0px;
  position: fixed;
}
#residenceOnSell #allsorts h5 {
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin-top: 5px;
}
#residenceOnSell #allsorts button {
  color: #333333;
  background-color: #ebebeb;
  border-color: #ffffff;
  padding: 7px 0px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe9e9e9', GradientType=0);
  margin-bottom: 7px;
  border: none;
  display: block;
  width: 100%;
}
#residenceOnSell #allsorts button:hover,
#residenceOnSell #allsorts button:focus,
#residenceOnSell #allsorts button:active,
#residenceOnSell #allsorts button.active,
.open .dropdown-toggle#residenceOnSell #allsorts button {
  color: #333333;
  background-color: #d7d7d7;
  border-color: #e0e0e0;
}
#residenceOnSell #allsorts button:active,
#residenceOnSell #allsorts button.active,
.open .dropdown-toggle#residenceOnSell #allsorts button {
  background-image: none;
}
#residenceOnSell #allsorts button.disabled,
#residenceOnSell #allsorts button[disabled],
fieldset[disabled] #residenceOnSell #allsorts button,
#residenceOnSell #allsorts button.disabled:hover,
#residenceOnSell #allsorts button[disabled]:hover,
fieldset[disabled] #residenceOnSell #allsorts button:hover,
#residenceOnSell #allsorts button.disabled:focus,
#residenceOnSell #allsorts button[disabled]:focus,
fieldset[disabled] #residenceOnSell #allsorts button:focus,
#residenceOnSell #allsorts button.disabled:active,
#residenceOnSell #allsorts button[disabled]:active,
fieldset[disabled] #residenceOnSell #allsorts button:active,
#residenceOnSell #allsorts button.disabled.active,
#residenceOnSell #allsorts button[disabled].active,
fieldset[disabled] #residenceOnSell #allsorts button.active {
  background-color: #ebebeb;
  border-color: #ffffff;
}
#residenceOnSell #allsorts button .badge {
  color: #ebebeb;
  background-color: #fff;
}
#residenceOnSell #allsorts button::last-child {
  margin-bottom: 0px;
}
#residenceOnSell .modal-backdrop {
  opacity: 0;
  filter: alpha(opacity=0);
}
#houseDetail {
  min-height: 100%;
  background-color: #fff;
}
#houseDetail #content {
  top: 50px;
  width: 100%;
  position: absolute;
}
#houseDetail #content #house-detail-images img {
  display: block;
  height: 200px;
  width: 100%;
}
#houseDetail #content .title {
  -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.6);
  background-color: #4b4e59;
  padding: 5px 12px;
  color: #fff;
}
#houseDetail #content .important-info {
  overflow: hidden;
  padding: 8px 12px;
}
#houseDetail #content .important-info .price {
  float: left;
  font-size: 18px;
  line-height: 1.428571429;
  color: #428bca;
}
#houseDetail #content .important-info .type,
#houseDetail #content .important-info .area {
  float: right;
  padding-right: 30px;
  line-height: 25.714285722px;
}
#houseDetail #content .details a.detail {
  display: block;
  text-decoration: none;
  background: url(../img/arrow_right.png) right center no-repeat transparent;
  background-size: 9.333333333333334px 14px;
}
#houseDetail #content .details a.detail .value {
  color: #333333;
}
#houseDetail #content #house-residence,
#houseDetail #content #house-address {
  display: block;
  width: 100%;
}
#houseDetail #askButton {
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  border: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 0px;
}
#houseDetail #askButton:hover,
#houseDetail #askButton:focus,
#houseDetail #askButton:active,
#houseDetail #askButton.active,
.open .dropdown-toggle#houseDetail #askButton {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}
#houseDetail #askButton:active,
#houseDetail #askButton.active,
.open .dropdown-toggle#houseDetail #askButton {
  background-image: none;
}
#houseDetail #askButton.disabled,
#houseDetail #askButton[disabled],
fieldset[disabled] #houseDetail #askButton,
#houseDetail #askButton.disabled:hover,
#houseDetail #askButton[disabled]:hover,
fieldset[disabled] #houseDetail #askButton:hover,
#houseDetail #askButton.disabled:focus,
#houseDetail #askButton[disabled]:focus,
fieldset[disabled] #houseDetail #askButton:focus,
#houseDetail #askButton.disabled:active,
#houseDetail #askButton[disabled]:active,
fieldset[disabled] #houseDetail #askButton:active,
#houseDetail #askButton.disabled.active,
#houseDetail #askButton[disabled].active,
fieldset[disabled] #houseDetail #askButton.active {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
}
#houseDetail #askButton .badge {
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
}
#houseDetail #askButton .inner {
  background: url(../img/answer_icon_normal.png) left center no-repeat transparent;
  background-size: 30px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: auto;
  line-height: 35px;
  padding-left: 35px;
}
#residence-onsell-detail .sub {
  padding: 5px 12px;
}
#residence-onsell-detail .content {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
  overflow: auto;
}
#residence-onsell-detail .content #residence-detail-images img {
  display: block;
  height: 200px;
  width: 100%;
}
#residence-onsell-detail .content .details {
  margin: 3px 0px;
}
#residence-onsell-detail .content .details .detail span.prop {
  display: inline-block;
  width: 65px;
}
#residence-onsell-detail .content .sketch {
  position: relative;
  overflow: hidden;
  padding: 0px 12px;
}
#residence-onsell-detail .content .sketch .title {
  position: absolute;
  width: 70px;
}
#residence-onsell-detail .content .sketch .info {
  margin-left: 70px;
}
#enquiry-history .content {
  position: absolute;
  top: 50px;
  width: 100%;
  overflow: auto;
  bottom: 0px;
}
#enquiry-history .content .messages {
  padding: 5px;
}
#enquiry-history .content .messages .residence-wrap {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: visible;
}
#enquiry-history .content .messages .residence-wrap .residence {
  height: 80px;
}
#enquiry-history .content .messages .residence-wrap .residence .price {
  position: absolute;
  top: 5px;
  right: 20px;
}
#enquiry-history .content .messages .residence-wrap .residence .time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #999999;
}
#enquiry-history .content .messages .residence-wrap .count {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #b20;
  color: #fff;
  margin-top: -2px;
  margin-right: -2px;
}
#enquiry-history .content .empty {
  width: 145px;
  height: 20px;
  margin-left: -72px;
  margin-top: -10px;
}
#chat .messages {
  position: absolute;
  top: 50px;
  width: 100%;
  overflow: auto;
  bottom: 50px;
}
#chat .messages .message {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 8px;
  max-width: 75%;
  min-width: 30px;
  float: right;
  clear: both;
  margin: 10px;
}
#chat .messages .message.agent {
  background: #428bca;
  color: #fff;
  float: left;
}
#chat .bar {
  position: absolute;
  bottom: 0px;
  height: 45px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#chat .bar .bar-inner {
  padding: 7px 5px 5px;
  position: relative;
}
#chat .bar .bar-inner button {
  position: absolute;
  border: none;
  right: 5px;
  top: 7px;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
#chat .bar .bar-inner button:hover,
#chat .bar .bar-inner button:focus,
#chat .bar .bar-inner button:active,
#chat .bar .bar-inner button.active,
.open .dropdown-toggle#chat .bar .bar-inner button {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #2d6ca2;
}
#chat .bar .bar-inner button:active,
#chat .bar .bar-inner button.active,
.open .dropdown-toggle#chat .bar .bar-inner button {
  background-image: none;
}
#chat .bar .bar-inner button.disabled,
#chat .bar .bar-inner button[disabled],
fieldset[disabled] #chat .bar .bar-inner button,
#chat .bar .bar-inner button.disabled:hover,
#chat .bar .bar-inner button[disabled]:hover,
fieldset[disabled] #chat .bar .bar-inner button:hover,
#chat .bar .bar-inner button.disabled:focus,
#chat .bar .bar-inner button[disabled]:focus,
fieldset[disabled] #chat .bar .bar-inner button:focus,
#chat .bar .bar-inner button.disabled:active,
#chat .bar .bar-inner button[disabled]:active,
fieldset[disabled] #chat .bar .bar-inner button:active,
#chat .bar .bar-inner button.disabled.active,
#chat .bar .bar-inner button[disabled].active,
fieldset[disabled] #chat .bar .bar-inner button.active {
  background-color: #428bca;
  border-color: #428bca;
}
#chat .bar .bar-inner button .badge {
  color: #428bca;
  background-color: #fff;
}
#chat .bar .bar-inner .input-wrap {
  margin-right: 60px;
}
#chat .bar .bar-inner .input-wrap input[type=text] {
  padding: 5px 12px 5px 12px;
  outline: none;
  line-height: 20px;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  width: 100%;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.3);
}
