@import "../../../bower_components/bootstrap/less/variables.less";
@import "../../../bower_components/bootstrap/less/mixins.less";

@banner-header-height: @navbar-height;
@banner-padding: 10px;


.haoshimai-banner() {
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 0px;

	.header() {
		height: @banner-header-height;
		padding: @banner-padding;
		background:url('../img/title.png') 100% 100%;
    	box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);

    	.nav-btn() {
    		.square(@banner-header-height - @banner-padding * 2);
    	}
	}

	.sub() {
		color: #fff;
		background-color:#494c56;
	}
}

.haoshimai-overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}


