@banner-color: #31363c;

.haoshimai-banner() {
	width: 100%;
	color: @banner-color;
	box-sizing: border-box;
	height: 70px;
	padding: 10px;
	background:url('../img/title.png') 100% 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
	position: absolute;
	top: 0px;
}
