@import "../../../bower_components/bootstrap/less/mixins.less";

@banner-color: #31363c;
@banner-header-height: 70px;
@banner-padding: 10px;

.haoshimai-banner() {
	width: 100%;
	color: @banner-color;
	box-sizing: border-box;
	position: absolute;
	top: 0px;

	.header() {
		height: @banner-header-height;
		padding: @banner-padding;
		background:url('../img/title.png') 100% 100%;
    	box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);

    	.nav-btn() {
    		.square(@banner-header-height - @banner-padding * 2);
    	}
	}

	.sub() {
		height: 40px;
		color: #fff;
		background-color:#494c56;
	}
}
