@import "../../../bower_components/bootstrap/less/variables.less";
@import "../../../bower_components/bootstrap/less/mixins.less";
@import "base.less";


#houseDetail {
	min-height: 100%;
	background-color: #fff;

	#house-detail-header {
		.haoshimai-banner();

		.header {
			.haoshimai-banner > .header();
			font-size: @font-size-large;
			text-align: center;

			.back img, #house-detail-icon img{
				.haoshimai-banner > .header > .nav-btn();
			}
		}
	}


	#content {
		top: @banner-header-height;
		width: 100%;
		position: absolute;

		#house-detail-images {
			img {
				display: block;
				height: 200px;
				width: 100%;
			}

		}

		.title {
			.box-shadow(inset 0px 2px 3px rgba(0, 0, 0, .6));
			background-color: @bg-color;
			padding: 5px 12px;
			color: #fff;
		}

		.important-info {
			overflow: hidden;
			padding: 8px 12px;

			.price {
				float: left;
				font-size: @font-size-large;
				line-height: @line-height-base;
				color: @brand-primary;
			}

			.type, .area {
				float: right;
				padding-right: 30px;
				line-height: @line-height-base * @font-size-large;
			}

		}

		.details {
			padding: 0px 12px;
			overflow: hidden;

			a.detail {
				display: block;
				text-decoration: none;
				background: url(../img/arrow_right.png) right center no-repeat transparent;
				background-size: @font-size-base*2/3 @font-size-base;

				.value {
					color: @gray-dark;
				}
			}

			.detail {
				float: left;
				width: 45%;

				.prop {
					color: @gray;

					&::after {
						content: ':\00a0';
					}
				}

				&:first-child {
					width: 55%;
				}
			}
		}

		#house-residence, #house-address {
			display: block;
			width: 100%;
		}
	}

	#askButton {
		color: #fff;
		width:100%;
		position:absolute;
		bottom:0;
		border: none;
		.button-variant(#fff; rgba(0, 0, 0, .6); rgba(0, 0, 0, .6));
		.button-size(0px; 12px; @font-size-base; @line-height-base; 0px;);

		.inner {
			display: block;
			background: url(../img/answer_icon_normal.png) left center no-repeat transparent;
			background-size: @line-height-computed + 10 @line-height-computed + 10; 
			.center-block();
			.size(70px; auto);
			line-height: @line-height-computed + 15px;
			padding-left: @line-height-computed + 15px;
		}
	}
}

