@import "../../../bower_components/bootstrap/less/variables.less";
@import "../../../bower_components/bootstrap/less/mixins.less";
@import "base.less";

#residence-onsell-detail {
	
	.sub {
		padding: 5px 12px;
	}

	.content {
		position: absolute;
		width: 100%;
		top: @banner-header-height;
		bottom: 0px;
		overflow: auto;


		#residence-detail-images {
			img {
				display: block;
				height: 200px;
				width: 100%;
			}
		}
	}
}