@import "../../../bower_components/bootstrap/less/mixins.less";
@import "base.less";

#residenceSearch {
	background-color: #353b49;
	min-height: 100%;

	.header {
		.haoshimai-banner();

		.searchbar {
			@search-button-width: 60px;
			@gutter: 20px;
			@line-height: 35px;
			@font-size: 24px;
			@height: @line-height + 5 * 2;
			position: relative;

			.input-wrap {
				margin-right: @search-button-width + @gutter;
				input[type=text] {
					line-height: @line-height;
					font-size: @font-size;
					padding: 5px 24px;
					border-radius: @height / 2;
					outline: none;
					border: none;
					width: 100%;
					box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .3);
				}
			}

			button {
				position: absolute;
				border: none;
				right: 0px;
				top: 0px;
				height: @height;
				width: @search-button-width;
			}
		}
	}

	p.empty {
		.size(300px, 50px);
		font-size: 20px;
		padding-left: 50px;
		position: absolute;
		margin-left: -150px;
		margin-top: -25px;
		left: 50%;
		top: 50%;
	}

	.residences {

		padding: 10px;

		.residence-wrap {
			box-shadow: 0px 0px 8px #000;
			border-radius: 5px;
			margin-bottom: 10px;
			#gradient > .vertical(#fff, #e9e9e9);
	
			.residence {
				border-radius: 5px;
				box-shadow: inset 0px 0px 3px #fff;
				position: relative;
				padding: 5px;
				overflow: hidden;
		
				img {
					position: absolute;
					border-radius: 5px;
					width: 70px;
					height: 70px;
					left: 5px;
					top: 5px;
				}
		
				.highlight {
					color: #08c;
				}
		
				p {
					margin-bottom: 5px;
				}
	
				.info {
					margin-left: 80px;
					.details {
						overflow: hidden;
						.detail {
							display: block;
							float: left;
							width: 50%;
						}
					}
				}
			}
		}

		.resident-wrap::last-child {
			margin-bottom: 0px;
		}
	}
}
