<div id="chat">
	<div class='banner'>
		<div class="header">
			<a class="back">
				<img src="../assets/img/reback_icon.png"/>
			</a>
			经纪人：
		</div>
	</div>
	<block tpl-id="message-list">
		<div class="messages">
			{{#each messages}}
			<div {{#compare this.type 1}}
					class="message normal"
				 {{else}}
					class="message agent"
				 {{/compare}}>
			<!--
	    	{{this.name}}
	    	{{this.type}}
	    	{{this.houseId}}
	    	{{this.brokerId}}
	    	{{messageId}}
	    	{{useType}}
	    	-->
	    		{{this.content}}
	    	</div>
	    	{{/each}}
	    </div>
	</block>

	<div class="bar">
		<div class="bar-inner">
			<div class="input-wrap">
				<input type="text" id='chat-input' placeholder="输入内容"/>
			</div>
			<button id='send-message-button'>发送</button>
		</div>
	</div>

</div>
