<div id="map-sell-banner" class='banner'>
    <div class="header">
        <img src="../assets/img/icon.png" alt="好识买"/>
        <div id="haoshimai">好识买</div>
        <div id="area">上海</div>
        <div id='sale_rent'>
            <ul>
              <li><a id="on-rent">出租房</a></li>
              <li class="active"><a id="on-sale">出售房</a></li>
            </ul>
        </div>
        <div id='sale_rent_bg'></div>
    </div>
    <div class="sub">
      <ul>
        <li class='active'>
            <a id="annualPriceIncreasement">年度涨幅</a>
        </li>
	    <li><a id="price">小区均价</a></li>
        <li><a id="annualTurnoverRate">年换手率</a></li>
        <li><a id="rentRevenue">租金回报</a></li>
      </ul>
    </div>
</div>
