<input style="width:80%;float:left"id="searchResident" placeholder="搜索小区名称" />
<button style="float:right"id="cancel">取消</button>
<div style="height:40px;">
<div style="float:left;height:40px;"><img src="../assets/img/flag_left.png" style="height:40px;"/></div>
<div style="float:left;height:40px;background:url(../assets/img/flag_middle.png);">skdjfkjdkdfkdajsfkjdkfj</div>
<div style="float:left;height:40px;"><img src="../assets/img/flag_left.png" style="height:40px;"/></div>
<div style="float:left"></div>
</div>
