<div id="picShow">
    <block tpl-id="pic-container">
        <div id="pic_show_container" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{#each picUrl}}
                {{#if this.isActive}}
                <div class="item active"><img src="{{this.url}}" style="width:100%"/></div>
                {{else}}
                <div class="item"><img src="{{this.url}}" style="width:100%"/></div>
                {{/if}}
                {{/each}}
            </div> 
        </div>
    </block>
</div>
