<div id="residenceOnSell" style="padding-top: 110px">

<block tpl-id="residence-name">
	<div id="residence-onsell-header">
		<div class="header">
			<a class="back pull-left">
				<img src="../assets/img/reback_icon.png"/>
			</a>
			小区在售房
			<a id="house-detail-icon" class="pull-right">
				<img src="../assets/img/house_detail_icon.png"/>
			</a>
		</div>
		<div id="residence-onsell-total">
    		{{data.residenceName}}({{data.onSaleCount}})
		</div>
	</div>
</block>

<block tpl-id="residence-images">
	<div id="residence-onsell-houses" class="carousel slide">
		<ol class="carousel-indicators">
			{{#each data.picURL}}
    		<li data-target="#residence-onsell-houses">
    		</li>
			{{/each}}
		</ol>

		<div class="carousel-inner" style="width: 100%; height: 40px;">
			{{#each data.picURL}}
    		<div class="item">
      			<img style="width: 100%" src="{{this}}">
    		</div>
			{{/each}}
  		</div>
	</div>
</block>

<block tpl-id="houselist-container">
	<div style="position:fixed; top:200px;">
	{{#each houseList}}
		<div class="house" data-id="{{this.id}}">{{this.picURL}}</div>
	{{/each}}
	</div>

	<div class="sortbar">
		<span>排序</span>
	</div>

	<div id="allsorts" style="display: none">
		<h3>排序</h3>
		<button id="sort-time">时间</button>
		<button id="sort-total">总价</button>
		<button id="sort-per">单价</button>
		<button id="sort-area">面积</button>
		<button id="sort-cancel">取消</button>
	</div>
</block>

<div class="haoshimai-overlay" style="display: none"></div>

</div>